# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
Output/
*.egg-info/
*.egg
*.whl

# Installer and spec files
*.exe
*.spec

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Logs
*.log

# Test scripts output
*.bak

# VSCode
.vscode/ 